/* Settings for mobile devices */

.footer {
  background-color: #7a3145;
}

.footer-container {
  padding: 40px 20px;
}

.footer-logo-svg {
  fill: #fbfbfb;
  width: 168px;
  height: 16px;
}

.footer-p {
  margin-top: 14px;
  width: 335px;
}

.footer-list-links {
  display: inline-grid;
  flex-direction: row;
  gap: 40px;
  margin-top: 40px;
}

.footer-list-items {
  display: inline-grid;
  gap: 14px;
}

.li-footer {
  font-family: "Inter Tight", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  color: #fbfbfb;
  text-wrap: nowrap;
}

.li-footer:hover {
  color: #576f35;
}

.footer-address-lists {
  display: inline-grid;
  gap: 14px;
}

.a-footer-add {
  font-family: "Inter Tight", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #fbfbfb;
  font-style: normal;
}

.a-footer-add:hover {
  color: #576f35;
}

.footer-privacy-ul {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-privacy-li {
  font-family: "Inter Tight", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0px;
  color: #d4bfc4;
}

/* Settings for tablet devices */

@media screen and (min-width: 768px) {
  .footer-container {
    max-width: 768px;
    padding: 32px;
  }

  .footer-logo-svg {
    width: 216px;
    height: 20px;
  }

  .footer-list {
    display: flex;
    gap: 212px;

  }

  .footer-p {
    font-size: 16px;
    margin-top: 24px;
    width: 265px;
  }

  .footer-list-links {
    width: 227px;
    margin-right: 32px;
    margin-top: 0px;
  }

  .ul-footer-links {
    gap: 25px;
  }

  .footer-address-lists {
    gap: 24px;
  }

  a-footer-add {
    font-size: 16px;
  }
  .footer-privacy-ul {
    margin-top: 100px;
    width: 229px;
    flex-direction: row;
    gap: 318px;
    text-wrap: nowrap;
  }

  .footer-privacy-li {
    font-size: 16px;
  }
}

/* Settings for Desktop devices */

@media screen and (min-width: 1280px) {
  .footer-container {
    max-width: 1280px;
    padding: 52px 100px;
  }

  .footer-list {
    display: flex;
    gap: 250px;
  }

  .footer-list {
    gap: 250px;
  }

  .footer-list-links {
    width: 228px;
    display: flex;
    gap: 121px;
    margin: 0px;
  }

  .footer-address-lists {
    width: 216px;
    margin: 0px;
  }

  .footer-privacy-ul {
     margin-top: 124px;
     width: 565px;
     flex-direction: row;
     gap: 686px;
  }

}
